@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url(../imagenes/fondo3.jpg);
  font-family: 'Josefin Sans', sans-serif;
}

/*css compartido*/
#footer, .containergrid .relleno .info, .preguntasf .curar .boceto, .ccontacto .mail, .productosgrid .titulop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#footer .redes, #footer .newspaper, .preguntasf .curar, .preguntasf .curar .textocurar, .ccontacto .contacto .fcontacto, .ccontacto .otraredes, .productosgrid .modelo, .productosgrid .comprar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bold {
  font-weight: 700;
}

#header {
  z-index: 10;
  background-color: #212529;
}

#header .marca {
  font-size: 2rem;
  text-decoration: none;
  font-weight: 500;
  color: #bf957f;
  margin-left: 8%;
}

@media all and (max-width: 992px) {
  #header .marca {
    font-size: 1.9rem;
  }
}

@media all and (max-width: 768px) {
  #header .marca {
    font-size: 1.8rem;
  }
}

@media all and (max-width: 576px) {
  #header .marca {
    font-size: 1.7rem;
  }
}

#header .navbar-toggler {
  display: none;
}

@media all and (max-width: 992px) {
  #header .navbar-toggler {
    display: inline;
  }
}

#header .navbar-toggler-icon {
  width: 1.8em;
  height: 1.8em;
  background-image: url(../imagenes/menu.png);
}

@media all and (max-width: 992px) {
  #header .navbar-toggler-icon {
    width: 1.6em;
    height: 1.6em;
  }
}

@media all and (max-width: 768px) {
  #header .navbar-toggler-icon {
    width: 1.4em;
    height: 1.4em;
  }
}

@media all and (max-width: 576px) {
  #header .navbar-toggler-icon {
    width: 1.2em;
    height: 1.2em;
  }
}

#header .navd {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 400;
  list-style: none;
  font-weight: 800;
}

@media all and (max-width: 992px) {
  #header .navd {
    display: none;
  }
}

#header .navd:hover {
  text-decoration: underline;
  color: #bf957f;
  opacity: 0.9;
}

#header .navega {
  color: white;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 400;
  list-style: none;
}

@media all and (max-width: 992px) {
  #header .navega {
    display: none;
  }
}

#header .navega:hover {
  text-decoration: underline;
  color: #bf957f;
  opacity: 0.9;
}

#header .offcanvas {
  background-color: #1d1d1d;
  --bs-offcanvas-width: 300px;
}

@media all and (max-width: 800px) {
  #header .offcanvas {
    --bs-offcanvas-width: 250px;
  }
}

@media all and (max-width: 576px) {
  #header .offcanvas {
    --bs-offcanvas-width: 200px;
  }
}

#header .offcanvas-title {
  font-size: 2rem;
  color: #bf957f;
  font-weight: 600;
}

@media all and (max-width: 800px) {
  #header .offcanvas-title {
    font-size: 1.8rem;
  }
}

@media all and (max-width: 576px) {
  #header .offcanvas-title {
    font-size: 1.6rem;
  }
}

#header .nav-link {
  font-size: 1.8rem;
  color: white;
}

#header .nav-link:hover {
  color: #bf957f;
}

@media all and (max-width: 800px) {
  #header .nav-link {
    font-size: 1.6rem;
  }
}

@media all and (max-width: 576px) {
  #header .nav-link {
    font-size: 1.4rem;
  }
}

.producto {
  border: solid 10px black;
  background-color: black;
  border-radius: 10px;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  padding: 0;
}

.producto .nodispo {
  color: white;
  display: none;
  position: absolute;
  top: 45%;
  left: 30%;
  right: 30%;
}

@media all and (max-width: 992px) {
  .producto .dispo {
    opacity: .4;
  }
}

.producto img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.producto p {
  font-size: 1.5rem;
}

@media all and (max-width: 1258px) {
  .producto p {
    font-size: 1.2rem;
  }
}

@media all and (max-width: 992px) {
  .producto p {
    font-size: 1rem;
  }
}

.producto:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 1px 10px 1px black;
          box-shadow: 0 1px 10px 1px black;
}

.producto:hover .dispo {
  opacity: .3;
}

.producto:hover .nodispo {
  display: inline;
}

#footer {
  width: 100%;
  height: 120px;
  background-color: #212529;
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
  padding: 0 5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (max-width: 992px) {
  #footer {
    height: 110px;
  }
}

@media all and (max-width: 768px) {
  #footer {
    height: 100px;
  }
}

@media all and (max-width: 576px) {
  #footer {
    height: 90px;
  }
}

@media all and (max-width: 394px) {
  #footer {
    height: 80px;
  }
}

#footer .redes {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .insta {
  height: 35px;
  margin-top: 25px;
}

@media all and (max-width: 992px) {
  #footer .insta {
    height: 30px;
    margin-top: 20px;
  }
}

@media all and (max-width: 768px) {
  #footer .insta {
    height: 25px;
    margin-top: 15px;
  }
}

@media all and (max-width: 576px) {
  #footer .insta {
    height: 30px;
    margin-top: 10px;
  }
}

@media all and (max-width: 394px) {
  #footer .insta {
    height: 25px;
  }
}

#footer .re {
  color: white;
  margin: 0;
  font-size: 1rem;
  text-align: center;
}

@media all and (max-width: 992px) {
  #footer .re {
    font-size: 0.9rem;
  }
}

@media all and (max-width: 768px) {
  #footer .re {
    font-size: 0.8rem;
  }
}

@media all and (max-width: 576px) {
  #footer .re {
    font-size: 0.7rem;
  }
}

#footer .pagos {
  height: 70px;
}

@media all and (max-width: 992px) {
  #footer .pagos {
    height: 60px;
  }
}

@media all and (max-width: 768px) {
  #footer .pagos {
    height: 50px;
  }
}

@media all and (max-width: 576px) {
  #footer .pagos {
    height: 40px;
  }
}

#footer .newspaper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .newspaper p {
  color: white;
}

@media all and (max-width: 992px) {
  #footer .newspaper {
    display: none;
  }
}

/*INDEX*/
.containergrid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 40px;
}

.containergrid #header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.containergrid .banner, .containergrid .bannermovil {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  padding: 0;
  width: 90%;
  margin: 0 5%;
}

@media all and (max-width: 992px) {
  .containergrid .banner, .containergrid .bannermovil {
    display: none;
  }
}

.containergrid .bannermovil {
  display: none;
}

@media all and (max-width: 992px) {
  .containergrid .bannermovil {
    display: inline;
  }
}

.containergrid .relleno {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-items: center;
  margin: 0 5%;
}

.containergrid .relleno .info {
  width: 33.3333%;
  padding: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media all and (max-width: 1300px) {
  .containergrid .relleno .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .containergrid .relleno .info p {
    margin: 10px 0 0 0;
  }
}

@media all and (max-width: 992px) {
  .containergrid .relleno .info {
    width: 100%;
  }
}

@media all and (max-width: 768px) {
  .containergrid .relleno .info {
    font-size: 0.8rem;
  }
}

.containergrid .relleno .info div {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 1300px) {
  .containergrid .relleno .info p {
    margin: 0 0 0 20px;
  }
}

.containergrid .relleno .info img {
  height: 60px;
}

@media all and (max-width: 992px) {
  .containergrid .relleno .info img {
    height: 40px;
  }
}

.containergrid .linea {
  border-bottom: solid 2.5px black;
  width: 100%;
}

.containergrid .productosdesta {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.containergrid .productosdesta .pdtext {
  margin-top: 70px;
  margin-bottom: 50px;
  font-size: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media all and (max-width: 992px) {
  .containergrid .productosdesta .pdtext {
    margin-top: 50px;
    font-size: 2rem;
  }
}

@media all and (max-width: 768px) {
  .containergrid .productosdesta .pdtext {
    margin-top: 40px;
    font-size: 1.8rem;
  }
}

@media all and (max-width: 576px) {
  .containergrid .productosdesta .pdtext {
    margin-top: 30px;
    font-size: 1.5rem;
  }
}

@media all and (max-width: 394px) {
  .containergrid .productosdesta .pdtext {
    margin-top: 25px;
    font-size: 1.2rem;
  }
}

.containergrid #footer {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

/*PRODUCTOS*/
.cproductos {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 50px;
}

.cproductos #header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.cproductos .allproducts {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  margin-left: 5%;
}

.cproductos .allproducts .allp {
  font-size: 2rem;
  font-weight: bolder;
}

@media all and (max-width: 992px) {
  .cproductos .allproducts .allp {
    font-size: 1.8rem;
  }
}

@media all and (max-width: 769px) {
  .cproductos .allproducts .allp {
    font-size: 1.6rem;
  }
}

@media all and (max-width: 576px) {
  .cproductos .allproducts .allp {
    font-size: 1.4rem;
  }
}

.cproductos .allproducts .allpo {
  font-size: 1rem;
}

@media all and (max-width: 992px) {
  .cproductos .allproducts .allpo {
    font-size: 0.9rem;
  }
}

@media all and (max-width: 769px) {
  .cproductos .allproducts .allpo {
    font-size: 0.8rem;
  }
}

@media all and (max-width: 576px) {
  .cproductos .allproducts .allpo {
    font-size: 0.6rem;
  }
}

.cproductos .pd {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.cproductos #footer {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

/*PREGUNTAS*/
.preguntasf {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 50px;
}

@media all and (max-width: 576px) {
  .preguntasf {
    grid-gap: 25px;
  }
}

.preguntasf #header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.preguntasf .ptext {
  margin: 0 15%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  font-size: 2.8rem;
  font-weight: bolder;
}

@media all and (max-width: 992px) {
  .preguntasf .ptext {
    font-size: 1.8rem;
  }
}

@media all and (max-width: 769px) {
  .preguntasf .ptext {
    font-size: 1.6rem;
    margin: 0 10%;
  }
}

@media all and (max-width: 576px) {
  .preguntasf .ptext {
    font-size: 1.4rem;
  }
}

@media all and (max-width: 394px) {
  .preguntasf .ptext {
    font-size: 1.2rem;
  }
}

.preguntasf .preguntas {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  margin: 0 15%;
  border-radius: 45px;
  --bs-accordion-bg: #4b4b4b;
}

@media all and (max-width: 769px) {
  .preguntasf .preguntas {
    margin: 0 10%;
  }
}

.preguntasf .preguntas .accordion-body {
  background-color: #838383;
}

.preguntasf .preguntas .prtext {
  color: white;
  font-size: 1.7rem;
  font-weight: 500;
}

@media all and (max-width: 992px) {
  .preguntasf .preguntas .prtext {
    font-size: 1.6rem;
  }
}

@media all and (max-width: 769px) {
  .preguntasf .preguntas .prtext {
    font-size: 1.3rem;
  }
}

@media all and (max-width: 576px) {
  .preguntasf .preguntas .prtext {
    font-size: 1rem;
  }
}

@media all and (max-width: 394px) {
  .preguntasf .preguntas .prtext {
    font-size: 0.9rem;
    padding: 10px;
  }
}

.preguntasf .preguntas .retext {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  padding-left: 15px;
}

@media all and (max-width: 992px) {
  .preguntasf .preguntas .retext {
    font-size: 1.2rem;
  }
}

@media all and (max-width: 769px) {
  .preguntasf .preguntas .retext {
    font-size: 1.1rem;
  }
}

@media all and (max-width: 576px) {
  .preguntasf .preguntas .retext {
    font-size: 0.9rem;
  }
}

@media all and (max-width: 394px) {
  .preguntasf .preguntas .retext {
    font-size: 0.85rem;
  }
}

.preguntasf .preguntas .accordion-button:not(.collapsed) {
  background-color: #646464;
  color: aliceblue;
}

.preguntasf .preguntas .accordion-button::after {
  background-image: url(../imagenes/flechaabajo.png);
}

.preguntasf .preguntas .accordion-button:focus {
  border-color: #8b8b8c;
}

.preguntasf .curar {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  width: 70%;
  margin: 0 15%;
}

@media all and (max-width: 769px) {
  .preguntasf .curar {
    width: 80%;
    margin: 0 10%;
  }
}

.preguntasf .curar .tcurar {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

@media all and (max-width: 1000px) {
  .preguntasf .curar .tcurar {
    font-size: 2.1rem;
  }
}

@media all and (max-width: 576px) {
  .preguntasf .curar .tcurar {
    font-size: 1.6rem;
  }
}

.preguntasf .curar .tccurar {
  position: relative;
  font-size: 2.7rem;
  font-weight: 600;
  left: 210px;
  color: #715b29;
}

@media all and (max-width: 1000px) {
  .preguntasf .curar .tccurar {
    font-size: 1.8rem;
    left: 157px;
  }
}

@media all and (max-width: 576px) {
  .preguntasf .curar .tccurar {
    font-size: 1.4rem;
    left: 118px;
  }
}

.preguntasf .curar .boceto {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.preguntasf .curar .textocurar {
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 6%;
}

@media all and (max-width: 1000px) {
  .preguntasf .curar .textocurar {
    width: 100%;
  }
}

.preguntasf .curar .textocurar img {
  height: 250px;
  width: 250px;
}

@media all and (max-width: 576px) {
  .preguntasf .curar .textocurar img {
    height: 200px;
    width: 200px;
  }
}

.preguntasf .curar .textocurar p {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0;
}

@media all and (max-width: 1100px) {
  .preguntasf .curar .textocurar p {
    font-size: 1.1rem;
  }
}

.preguntasf #footer {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

/*CONTACTOS*/
.ccontacto {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 5%;
}

.ccontacto #header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.ccontacto .ctext {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  font-size: 2rem;
  font-weight: bolder;
  margin-left: 2.5%;
}

@media all and (max-width: 1000px) {
  .ccontacto .ctext {
    font-size: 1.8rem;
    margin-left: 5%;
  }
}

@media all and (max-width: 769px) {
  .ccontacto .ctext {
    font-size: 1.6rem;
  }
}

@media all and (max-width: 576px) {
  .ccontacto .ctext {
    font-size: 1.4rem;
  }
}

.ccontacto .contacto {
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1/8;
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  grid-row: 3/5;
}

@media all and (max-width: 1000px) {
  .ccontacto .contacto {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
}

.ccontacto .contacto .fcontacto {
  margin: 0 5%;
  height: 658px;
  background-color: black;
  border-radius: 15px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.9;
}

@media all and (max-width: 850px) {
  .ccontacto .contacto .fcontacto {
    height: 500px;
    margin: 0 5%;
    width: 90%;
  }
}

@media all and (max-width: 576px) {
  .ccontacto .contacto .fcontacto {
    height: 400px;
  }
}

@media all and (max-width: 394px) {
  .ccontacto .contacto .fcontacto {
    height: 350px;
  }
}

.ccontacto .contacto .form {
  width: 95%;
  height: 15%;
  background-color: black;
  color: white;
  font-size: 1.3rem;
  border: none;
}

@media all and (max-width: 992px) {
  .ccontacto .contacto .form {
    font-size: 1.1rem;
  }
}

@media all and (max-width: 576px) {
  .ccontacto .contacto .form {
    font-size: 1rem;
  }
}

@media all and (max-width: 394px) {
  .ccontacto .contacto .form {
    font-size: 0.9rem;
  }
}

.ccontacto .contacto .form:focus {
  outline: 0 none;
}

.ccontacto .contacto textarea {
  width: 95%;
  height: 25%;
  background-color: black;
  color: white;
  font-size: 1.3rem;
  border: none;
}

.ccontacto .contacto textarea:focus {
  outline: 0 none;
}

@media all and (max-width: 992px) {
  .ccontacto .contacto textarea {
    font-size: 1.1rem;
  }
}

@media all and (max-width: 576px) {
  .ccontacto .contacto textarea {
    font-size: 1rem;
  }
}

@media all and (max-width: 394px) {
  .ccontacto .contacto textarea {
    font-size: 0.9rem;
  }
}

.ccontacto .contacto .borde {
  border-bottom: solid 3px white;
}

.ccontacto .contacto .botone {
  width: 35%;
  height: 8%;
  font-size: 1.4rem;
  background-color: lightgrey;
  border-radius: 20px;
}

@media all and (max-width: 992px) {
  .ccontacto .contacto .botone {
    font-size: 1.2rem;
  }
}

@media all and (max-width: 576px) {
  .ccontacto .contacto .botone {
    font-size: 1.1rem;
  }
}

@media all and (max-width: 394px) {
  .ccontacto .contacto .botone {
    font-size: 1rem;
  }
}

.ccontacto .mail {
  -ms-grid-column: 8;
  -ms-grid-column-span: 5;
  grid-column: 8/13;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media all and (max-width: 1000px) {
  .ccontacto .mail {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.ccontacto .mail img {
  height: 35px;
  margin: 0 1%;
}

@media all and (max-width: 992px) {
  .ccontacto .mail img {
    height: 30px;
  }
}

@media all and (max-width: 576px) {
  .ccontacto .mail img {
    height: 25px;
  }
}

@media all and (max-width: 394px) {
  .ccontacto .mail img {
    height: 20px;
  }
}

.ccontacto .mail p {
  margin: 0;
  font-size: 1.8rem;
}

@media all and (max-width: 992px) {
  .ccontacto .mail p {
    font-size: 1rem;
  }
}

@media all and (max-width: 576px) {
  .ccontacto .mail p {
    font-size: 0.9rem;
  }
}

@media all and (max-width: 394px) {
  .ccontacto .mail p {
    font-size: 0.8rem;
  }
}

.ccontacto .otraredes {
  -ms-grid-column: 8;
  -ms-grid-column-span: 5;
  grid-column: 8/13;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  margin-top: 3%;
}

@media all and (max-width: 1000px) {
  .ccontacto .otraredes {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    margin: 0 4%;
  }
}

@media all and (max-width: 992px) {
  .ccontacto .otraredes {
    font-size: 1.6rem;
  }
}

.ccontacto .otraredes p {
  margin: 0 0 0 3%;
  font-size: 2.2rem;
}

@media all and (max-width: 992px) {
  .ccontacto .otraredes p {
    font-size: 1.7rem;
  }
}

@media all and (max-width: 576px) {
  .ccontacto .otraredes p {
    font-size: 1.2rem;
  }
}

@media all and (max-width: 394px) {
  .ccontacto .otraredes p {
    font-size: 1.1rem;
  }
}

.ccontacto .otraredes img {
  width: 50px;
  margin-right: 1%;
}

@media all and (max-width: 992px) {
  .ccontacto .otraredes img {
    width: 45px;
  }
}

@media all and (max-width: 576px) {
  .ccontacto .otraredes img {
    width: 35px;
  }
}

@media all and (max-width: 394px) {
  .ccontacto .otraredes img {
    width: 30px;
  }
}

.ccontacto .otraredes div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2% 0 0 3%;
}

.ccontacto .otraredes div p {
  font-size: 1.8rem;
}

@media all and (max-width: 992px) {
  .ccontacto .otraredes div p {
    font-size: 1.1rem;
  }
}

@media all and (max-width: 576px) {
  .ccontacto .otraredes div p {
    font-size: 1rem;
  }
}

@media all and (max-width: 394px) {
  .ccontacto .otraredes div p {
    font-size: 0.9rem;
  }
}

.ccontacto #footer {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1/13;
}

/*PRODUCTO*/
.productosgrid {
  width: 80%;
  margin: 0 10%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 30px;
}

.productosgrid .imgproducto {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2/6;
  border: solid black 10px;
  border-radius: 10px;
}

.productosgrid .imgproducto .tmate {
  font-size: 1.5rem;
  display: block;
}

@media all and (max-width: 576px) {
  .productosgrid .imgproducto .tmate {
    font-size: 1.2rem;
  }
}

.productosgrid .imgproducto img {
  width: 100%;
}

@media all and (max-width: 1200px) {
  .productosgrid .imgproducto {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    grid-row: 2/5;
  }
}

@media all and (max-width: 928px) {
  .productosgrid .imgproducto {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

.productosgrid .titulop {
  -ms-grid-column: 4;
  -ms-grid-column-span: 5;
  grid-column: 4/9;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 700;
  font-size: 2rem;
}

@media all and (max-width: 1200px) {
  .productosgrid .titulop {
    -ms-grid-column: 4;
    -ms-grid-column-span: 5;
    grid-column: 4/9;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    font-size: 1.3rem;
  }
}

@media all and (max-width: 928px) {
  .productosgrid .titulop {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
}

.productosgrid .descripp {
  -ms-grid-column: 4;
  -ms-grid-column-span: 5;
  grid-column: 4/9;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  font-weight: 500;
  font-size: 1.5rem;
}

.productosgrid .descripp p {
  margin: 0;
}

@media all and (max-width: 1200px) {
  .productosgrid .descripp {
    -ms-grid-column: 4;
    -ms-grid-column-span: 5;
    grid-column: 4/9;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    font-size: 1.1rem;
  }
}

@media all and (max-width: 928px) {
  .productosgrid .descripp {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
}

.productosgrid .modelo {
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7/9;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

@media all and (max-width: 1200px) {
  .productosgrid .modelo {
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-column: 4/6;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
}

@media all and (max-width: 928px) {
  .productosgrid .modelo {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
}

.productosgrid .modelo .form-select {
  color: white;
  background-color: #000;
  background-image: url(../imagenes/flechaabajo.png);
}

.productosgrid .comprar {
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7/9;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

@media all and (max-width: 1200px) {
  .productosgrid .comprar {
    -ms-grid-column: 7;
    -ms-grid-column-span: 2;
    grid-column: 7/9;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media all and (max-width: 928px) {
  .productosgrid .comprar {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.productosgrid .comprar .btn {
  color: white;
  background-color: #000;
}

.productosgrid .comprar .btn:hover {
  background-color: #272727;
}

.productosgrid .comprar img {
  height: 40px;
}

.productosgrid .comprar .metodotext {
  font-size: 1.5rem;
  font-weight: 600;
}

.productosgrid .comprar .metodotxt {
  font-size: 1.3rem;
  font-weight: 400;
}

.productosgrid .comprar .formasboton {
  border: none;
  background: none;
  text-decoration: underline;
  margin-top: 15px;
  font-size: 1.1rem;
}

.productosgrid .comprar .formasboton:hover {
  color: blue;
}

@media all and (max-width: 1200px) {
  .productosgrid .comprar .formasboton {
    margin-bottom: 15px;
  }
}

@media all and (max-width: 928px) {
  .productosgrid .comprar .formasboton {
    margin-top: 15px;
  }
}
/*# sourceMappingURL=estilos.css.map */