*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');
body{
	background-image: url(../imagenes/fondo3.jpg);
	font-family: 'Josefin Sans', sans-serif;
}
                                                         /*css compartido*/
@mixin navegacion($fz){
	color: white;
	text-decoration: none;
	font-size: $fz;
	font-weight: 400;
	list-style: none;
	@media all and (max-width: 992px){
		display: none;
	}
	&:hover{
		text-decoration: underline;
		color: #bf957f;
		opacity: 0.9;
	}
}
%flexrow{
	display: flex;
	flex-direction: row;
}
%flexcolumn{
	display: flex;
	flex-direction: column;
}
.bold{
	font-weight: 700;
}
#header{
	z-index: 10;
	background-color: #212529;
    .marca{
		font-size: 2rem;
		text-decoration: none;
		font-weight: 500;
		color: #bf957f;
		margin-left: 8%;
		@media all and (max-width: 992px){
			font-size: 1.9rem;
		}
		@media all and (max-width: 768px){
			font-size: 1.8rem;
		}
		@media all and (max-width: 576px){
			font-size: 1.7rem;
		}
	}
	.navbar-toggler{
		display: none;
		@media all and (max-width: 992px){
			display: inline;
		}
	}
	.navbar-toggler-icon{
		width: 1.8em;
		height: 1.8em;
		background-image: url(../imagenes/menu.png);
		@media all and (max-width: 992px){
			width: 1.6em;
			height: 1.6em;
		}
		@media all and (max-width: 768px){
			width: 1.4em;
			height: 1.4em;
		}
		@media all and (max-width: 576px){
			width: 1.2em;
			height: 1.2em;
		}
	}
	.navd{
		@include navegacion(1.5rem);
		font-weight: 800
	}
	.navega{
		@include navegacion(1.3rem);
    }
	.offcanvas{
		background-color: #1d1d1d;
		--bs-offcanvas-width: 300px;
		@media all and (max-width: 800px){
			--bs-offcanvas-width: 250px;
		}
		@media all and (max-width: 576px){
			--bs-offcanvas-width: 200px;
		}
	}
	.offcanvas-title{
		font-size: 2rem;
		color: #bf957f;
		font-weight: 600;
		@media all and (max-width: 800px){
			font-size: 1.8rem;
		}
		@media all and (max-width: 576px){
			font-size: 1.6rem;
		}
	}
	.nav-link{
		font-size: 1.8rem;
		color: white;
		&:hover{
			color: #bf957f;
		}
		@media all and (max-width: 800px){
			font-size: 1.6rem;
		}
		@media all and (max-width: 576px){
			font-size: 1.4rem;
		}
	}
}
.producto{
	border: solid 10px black;
	background-color: black;
	border-radius: 10px;
	transition: all 250ms;
	padding: 0;
	.nodispo{
		color: white;
		display: none;
		position: absolute;
		top: 45%;
		left: 30%;
		right: 30%;
	}
	.dispo{
		@media all and (max-width: 992px){
			opacity: .2;
		}
	}
	img{
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	p{
		font-size: 1.5rem;
		@media all and (max-width: 1258px){
			font-size: 1.2rem;
		}
		@media all and (max-width: 992px){
			font-size: 1rem;
		}
	}
    &:hover{
        transform: scale(1.1);
		box-shadow: 0 1px 10px 1px black;
		.dispo{
			opacity: .3;
		}
		.nodispo{
			display: inline;
		}

    }
}
#footer{
	width: 100%;
	height: 120px;
	background-color: #212529;
	position: sticky;
	z-index: 100;
	padding: 0 5%;
	@extend %flexrow;
	justify-content: space-between;
	align-items: center;
    @media all and (max-width: 992px){
        height: 110px;
    }
    @media all and (max-width: 768px){
        height: 100px;
    }
    @media all and (max-width: 576px){
        height: 90px;
    }
    @media all and (max-width: 394px){
        height: 80px;
    }
	.redes{
		@extend %flexcolumn;
		justify-content: center;
		align-items: center;
	}
    .insta{
        height: 35px;
        margin-top: 25px;
        @media all and (max-width: 992px){
            height: 30px;
            margin-top: 20px;
        }
        @media all and (max-width: 768px){
            height: 25px;
            margin-top: 15px;
        }
        @media all and (max-width: 576px){
            height: 30px;
            margin-top: 10px;
        }
        @media all and (max-width: 394px){
			height: 25px;
        }
    }
    .re{
        color: white;
		margin: 0;
        font-size: 1rem;
        text-align: center;
        @media all and (max-width: 992px){
            font-size: 0.9rem;
        }
        @media all and (max-width: 768px){
            font-size: 0.8rem;
        }
        @media all and (max-width: 576px){
            font-size: 0.7rem;
        }
    }
    .pagos{
        height: 70px;
        @media all and (max-width: 992px){
            height: 60px;
        }
        @media all and (max-width: 768px){
            height: 50px;
        }
        @media all and (max-width: 576px){
            height: 40px;
        }
    }
	.newspaper{
		@extend %flexcolumn;
		justify-content: center;
		align-items: center;
		p{
			color: white;
		}
		@media all and (max-width: 992px){
            display: none;
        }
	}
}
                                                   /*INDEX*/
.containergrid{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	grid-gap: 40px;
    #header{
        grid-column: 1/4;
    }
    .banner{
        grid-column: 1/4;
        padding: 0;
        width: 90%;
        margin: 0 5%;
		@media all and (max-width: 992px){
			display: none;
		}
    }
	.bannermovil{
		@extend .banner;
		display: none;
		@media all and (max-width: 992px){
			display: inline;
		}
	}
    .relleno{
        grid-column: 1/4;
        display: flex;
	    flex-wrap: wrap;
	    justify-items:center;
		margin: 0 5%;
        .info{
            width: 33.3333%;
            padding: 20px;
            @extend %flexrow;
			justify-content: center;
            align-self: center;
            @media all and (max-width: 1300px){
                flex-direction: column;
                align-items: center;
                text-align: center;
				p{
					margin: 10px 0 0 0;
				}
            }
			@media all and (max-width: 992px){
				width: 100%;
			}
			@media all and (max-width: 768px){
				font-size: 0.8rem;
			}
			& div{
				align-self: center;
			}
            @media (min-width: 1300px){
				p{
                	margin: 0 0 0 20px;   
				}
			}
            img{
                height: 60px;
                @media all and (max-width: 992px){
                    height: 40px;
                }
            }
        }
    }
	.linea{
		border-bottom: solid 2.5px black;
		width: 100%
	}
    .productosdesta{
        grid-column: 1/4;
        .pdtext{
            margin-top: 70px;
            margin-bottom: 50px;
            font-size: 2.5rem;
            display: flex;
            justify-content: center;
            @media all and (max-width: 992px){
                margin-top: 50px;
                font-size: 2rem;
            }
            @media all and (max-width: 768px){
                margin-top: 40px;
                font-size: 1.8rem;
            }
            @media all and (max-width: 576px){
                margin-top: 30px;
                font-size: 1.5rem;
            }
            @media all and (max-width: 394px){
                margin-top: 25px;
                font-size: 1.2rem;
            }
        }
    }
    #footer{
        grid-column: 1/4;
        
    }
    
}
                                            /*PRODUCTOS*/
.cproductos{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	grid-gap: 50px;
	#header{
		grid-column: 1/4;
	}
	.allproducts{
		grid-column: 1/4;
		margin-left: 5%;
		.allp{
			font-size: 2rem;
			font-weight: bolder;
			@media all and (max-width: 992px){
				font-size: 1.8rem;
			}
			@media all and (max-width: 769px){
				font-size: 1.6rem;
			}
			@media all and (max-width: 576px){
				font-size: 1.4rem;
			}
		}
		.allpo{
			font-size: 1rem;
			@media all and (max-width: 992px){
				font-size: 0.9rem;
			}
			@media all and (max-width: 769px){
				font-size: 0.8rem;
			}
			@media all and (max-width: 576px){
				font-size: 0.6rem;
			}
		}
	}
	.pd{
		grid-column: 1/4;
	}
	#footer{
		grid-column: 1/4;
	}
	
}



                                                  /*PREGUNTAS*/
.preguntasf{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	grid-gap: 50px;
	@media all and (max-width: 576px){
	grid-gap: 25px;
	}
	#header{
		grid-column: 1/4;
	}
	.ptext{
		margin: 0 15%;
		grid-column: 1/4;
		font-size: 2.8rem;
		font-weight: bolder;
		@media all and (max-width: 992px){
			font-size: 1.8rem;
		}
		@media all and (max-width: 769px){
			font-size: 1.6rem;
			margin: 0 10%;
		}
		@media all and (max-width: 576px){
			font-size: 1.4rem;
		}
		@media all and (max-width: 394px){
			font-size: 1.2rem;
		}
	}
	.preguntas{
		grid-column: 1/4;
		margin: 0 15%;
		border-radius: 45px;
		@media all and (max-width: 769px){
			margin: 0 10%;
		}
		--bs-accordion-bg: #4b4b4b;
		.accordion-body{
			background-color:  #838383;
		}
		.prtext{
			color: white;
			font-size: 1.7rem;
			font-weight: 500;
			@media all and (max-width: 992px){
				font-size: 1.6rem;
			}
			@media all and (max-width: 769px){
				font-size: 1.3rem;
			}
			@media all and (max-width: 576px){
				font-size: 1rem;
			}
			@media all and (max-width: 394px){
				font-size: 0.9rem;
				padding: 10px;
			}
		}
		.retext{
			color: white;
			font-size: 1.5rem;
			font-weight: 600;
			padding-left: 15px;
			@media all and (max-width: 992px){
				font-size: 1.2rem;
			}
			@media all and (max-width: 769px){
				font-size: 1.1rem;
			}
			@media all and (max-width: 576px){
				font-size: 0.9rem;
			}
			@media all and (max-width: 394px){
				font-size: 0.85rem;
			}
		}
		.accordion-button:not(.collapsed){
			background-color: #646464;
			color: aliceblue;
		}
		.accordion-button::after{
			background-image: url(../imagenes/flechaabajo.png);
		}
		.accordion-button:focus{
			border-color: #8b8b8c;
		}
	}
	.curar{
		grid-column: 1/4;
		@extend %flexcolumn;
		width: 70%;
		margin: 0 15%;
		@media all and (max-width: 769px){
			width: 80%;
			margin: 0 10%;
		}
		.tcurar{
			font-size: 3rem;
			font-weight: 700;
			margin: 0;
			@media all and (max-width: 1000px){
				font-size: 2.1rem;
			}
			@media all and (max-width: 576px){
				font-size: 1.6rem;
			}
		}
		.tccurar{
			position: relative;
			font-size: 2.7rem;
			font-weight: 600;
			left: 210px;
			color: #715b29;
			@media all and (max-width: 1000px){
				font-size: 1.8rem;
				left: 157px;
			}
			@media all and (max-width: 576px){
				font-size: 1.4rem;
				left: 118px;
			}
		}
		.boceto{
			@extend %flexrow;
			flex-wrap: wrap;
		}
		.textocurar{
			@extend %flexcolumn;
			width: 50%;
			align-items: center;
			padding: 0 6%;
			@media all and (max-width: 1000px){
				width: 100%;
			}
			img{
				height: 250px;
				width: 250px;
				@media all and (max-width: 576px){
					height: 200px;
					width: 200px;
				}
			}
			p{
				font-size: 1.3rem;
				font-weight: 500;
				margin: 0;
				@media all and (max-width: 1100px){
					font-size: 1.1rem;
				}
				@media all and (max-width: 769px){
					
				}
				@media all and (max-width: 576px){
					
				}
			}
		}
	}
	#footer{
		grid-column: 1/4;
	}
}
                                                         /*CONTACTOS*/
.ccontacto{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: auto;
	grid-gap: 5%;
	#header{
		grid-column: 1/13;
		grid-row: 1/2;
	}
	.ctext{
		grid-column: 1/13;
		grid-row: 2/3;
		font-size: 2rem;
		font-weight: bolder;
		margin-left: 2.5%;
		@media all and (max-width: 1000px){
			font-size: 1.8rem;
			margin-left: 5%;
		}
		@media all and (max-width: 769px){
			font-size: 1.6rem;
		}
		@media all and (max-width: 576px){
			font-size: 1.4rem;
		}
	}
	.contacto{
		grid-column: 1/8;
		grid-row: 3/5;
		@media all and (max-width: 1000px){
			grid-column: 1/13;
			grid-row: 3/4;
		}
		.fcontacto{
			margin: 0 5%;
			height: 658px;
			background-color: black;
			border-radius: 15px;
			@extend %flexcolumn;
			justify-content: space-around;
			align-items: center;
			opacity: 0.9;
			@media all and (max-width: 850px){
				height: 500px;
				margin: 0 5%;
				width: 90%;
			}
			@media all and (max-width: 576px){
				height: 400px;
			}
			@media all and (max-width: 394px){
				height: 350px;
			}
		}
		.form{
			width: 95%;
			height: 15%;
			background-color: black;
			color: white;
			font-size: 1.3rem;
			border: none;
			@media all and (max-width: 992px){
				font-size: 1.1rem;
			}
			@media all and (max-width: 576px){
				font-size: 1rem;
			}
			@media all and (max-width: 394px){
				font-size: 0.9rem;
            }
			&:focus{
				outline: 0 none;
			}
		}
		textarea{
			width: 95%;
			height: 25%;
			background-color: black;
			color: white;
			font-size: 1.3rem;
			border: none;
			&:focus{
				outline: 0 none;
			}
			@media all and (max-width: 992px){
				font-size: 1.1rem;
			}
			@media all and (max-width: 576px){
				font-size: 1rem;
			}
			@media all and (max-width: 394px){
				font-size: 0.9rem;
			}
		}
		.borde{
			border-bottom: solid 3px white;
		}
		.botone{
			width: 35%;
			height: 8%;
			font-size: 1.4rem;
			background-color: lightgrey;
			border-radius: 20px;
			@media all and (max-width: 992px){
				font-size: 1.2rem;
			}
			@media all and (max-width: 576px){
				font-size: 1.1rem;
			}
			@media all and (max-width: 394px){
				font-size: 1rem;
			}
		}
	}
	.mail{
		grid-column: 8/13;
		grid-row: 3/4;
		@extend %flexrow;
		align-items: center;
		@media all and (max-width: 1000px){
			grid-column: 1/13;
			grid-row: 4/5;
			justify-self: center;
		}
		img{
			height: 35px;
			margin: 0 1%;
			@media all and (max-width: 992px){
				height: 30px;
			}
			@media all and (max-width: 576px){
				height: 25px;
			}
			@media all and (max-width: 394px){
				height: 20px;
			}
		}
		p{
			margin: 0;
			font-size: 1.8rem;
			@media all and (max-width: 992px){
				font-size: 1rem;
			}
			@media all and (max-width: 576px){
				font-size: 0.9rem;
			}
			@media all and (max-width: 394px){
				font-size: 0.8rem;
			}
		}
	}
	.otraredes{
		grid-column: 8/13;
		grid-row: 4/5;
		margin-top: 3%;
		@extend %flexcolumn;
		@media all and (max-width: 1000px){
			grid-column: 1/13;
			grid-row: 5/6;
			margin: 0 4%;
		}
		@media all and (max-width: 992px){
				font-size: 1.6rem;
		}
		p{
			margin: 0 0 0 3%;
			font-size: 2.2rem;
			@media all and (max-width: 992px){
				font-size: 1.7rem;
			}
			@media all and (max-width: 576px){
				font-size: 1.2rem;
			}
			@media all and (max-width: 394px){
				font-size: 1.1rem;
			}
		}
		img{
			width: 50px;
			margin-right: 1%;
			@media all and (max-width: 992px){
				width: 45px;
			}
			@media all and (max-width: 576px){
				width: 35px;
			}
			@media all and (max-width: 394px){
				width: 30px;
			}
		}
		div{
			display: flex;
			align-items: center;
			margin: 2% 0 0 3%;
		}
		div p{
			font-size: 1.8rem;
			@media all and (max-width: 992px){
				font-size: 1.1rem;
			}
			@media all and (max-width: 576px){
				font-size: 1rem;
			}
			@media all and (max-width: 394px){
				font-size: 0.9rem;
			}
		}
	}
	#footer{
		grid-column: 1/13;
	}
}
/*PRODUCTO*/
.productosgrid{
	width: 80%;
	margin: 0 10%;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: auto;
	grid-gap: 30px;
	.imgproducto{
		grid-column: 1/4;
		grid-row: 2/6;
		border: solid black 10px;
		border-radius: 10px;
		.tmate{
			font-size: 1.5rem;
			display: block;
			@media all and (max-width: 576px){
				font-size: 1.2rem;
			}
		}
		img{
			width: 100%;
		}
		@media all and (max-width: 1200px){
			grid-column: 1/4;
			grid-row: 2/5;
		}
		@media all and (max-width: 928px){
			grid-column: 1/9;
			grid-row: 2/3;
		}
	}
	.titulop{
		grid-column: 4/9;
		grid-row: 2/3;
		@extend %flexrow;
		justify-content: space-between;
		font-weight: 700;
		font-size: 2rem;
		@media all and (max-width: 1200px){
			grid-column: 4/9;
			grid-row: 2/3;
			font-size: 1.3rem;
		}
		@media all and (max-width: 928px){
			grid-column: 1/9;
			grid-row: 3/4;
		}
	}
	.descripp{
		grid-column: 4/9;
		grid-row: 3/4;
		font-weight: 500;
		font-size: 1.5rem;
		p{
			margin: 0;
		}
		@media all and (max-width: 1200px){
			grid-column: 4/9;
			grid-row: 3/4;
			font-size: 1.1rem;
		}
		@media all and (max-width: 928px){
			grid-column: 1/9;
			grid-row: 4/5;
		}
	}
	.modelo{
		grid-column: 7/9;
		grid-row: 4/5;
		@extend %flexcolumn;
		justify-content: end;
		@media all and (max-width: 1200px){
			grid-column: 4/6;
			grid-row: 4/5;
		}
		@media all and (max-width: 928px){
			grid-column: 1/9;
			grid-row: 5/6;
		}
		.form-select{
			color: white;
			background-color: #000;
			background-image: url(../imagenes/flechaabajo.png);
		}
	}
	.comprar{
		grid-column: 7/9;
		grid-row: 5/6;
		@extend %flexcolumn;
		justify-content: end;
		@media all and (max-width: 1200px){
			grid-column: 7/9;
			grid-row: 4/5;
			flex-direction: column-reverse;
		}
		@media all and (max-width: 928px){
			grid-column: 1/9;
			grid-row: 6/7;
			flex-direction: column;
		}
		.btn{
			color: white;
			background-color: #000;
			&:hover{
				background-color: #272727;
			}
		}
		img{
			height: 40px;
		}
		.metodotext{
			font-size: 1.5rem;
			font-weight: 600;
		}
		.metodotxt{
			font-size: 1.3rem;
			font-weight: 400;
		}
		.formasboton{
			border: none;
			background: none;
			text-decoration: underline;
			margin-top: 15px;
			font-size: 1.1rem;
			&:hover{
				color: blue;
			}
			@media all and (max-width: 1200px){
				margin-bottom: 15px;
			}
			@media all and (max-width: 928px){
				margin-top: 15px;
			}
		}
	}
}
